# Predicting Next-Day Stock Price Direction in the S&P 500

In [20]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    confusion_matrix,
    classification_report
)

from xgboost import XGBClassifier

DATA_PATH = "https://raw.githubusercontent.com/tabbott207/3156Final/refs/heads/main/data/all_stocks_5yr.csv"

RANDOM_STATE = 42

plt.style.use("seaborn-v0_8")

In [21]:
# Load the CSV
df = pd.read_csv(DATA_PATH)

print("Columns:", df.columns.tolist())
print("Number of rows:", len(df))

# Convert date to datetime and sort
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values(["Name", "date"]).reset_index(drop=True)

df.head()

Columns: ['date', 'open', 'high', 'low', 'close', 'volume', 'Name']
Number of rows: 619040

        date   open   high    low  close   volume Name
0 2013-02-08  45.07  45.35  45.00  45.08  1824755    A
1 2013-02-11  45.17  45.18  44.45  44.60  2915405    A
2 2013-02-12  44.81  44.95  44.50  44.62  2373731    A
3 2013-02-13  44.81  45.24  44.68  44.75  2052338    A
4 2013-02-14  44.72  44.78  44.36  44.58  3826245    A